<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eamal27.foodexpo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserMainActivity" />
        <activity android:name=".RestaurantMainActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up" />
        <activity android:name=".SignUpUserActivity" />
        <activity android:name=".SignUpRestaurantActivity" />

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACF3pNIZYgN7gZv6jxWRkjzmBM3exj0rc" />

        <activity android:name=".GetAddress" />
        <activity android:name=".GetAddressMap" />
        <activity
            android:name=".PreferencesActivity"
            android:label="Preferences" />
        <activity android:name=".FoodItemActivity" />
        <activity
            android:name=".EditFoodItemActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".UserProfile"></activity>
    </application>

</manifest>